{% block create %}
    <turbo-stream action="prepend" target="table">
        <template>

          {#   {%  include "auction/index.html.twig" with {'auction' : entity}%}#}
                <td>{{ entity.title }}</td>
                <td>{{ entity.price | amount}}</td>
                <td> {{ entity.dateOpen|date("Y-m-d") }}</td>
                <td>
                    <img class="image" src="{{ asset('uploads/' ~ entity.image) }}" alt="Image du produit">
                </td>
                <td>

                </td>

        </template>
    </turbo-stream>

{% endblock %}

{% block update %}
    <turbo-stream action="update" target="update">
        <template>

            {#   {%  include "auction/index.html.twig" with {'auction' : entity}%}#}
            <td>{{ entity.title }}</td>
            <td>{{ entity.price | amount}}</td>
            <td> {{ entity.dateOpen|date("Y-m-d") }}</td>
            <td>
                <img class="image" src="{{ asset('uploads/' ~ entity.image) }}" alt="Image du produit">
            </td>
            <td>

            </td>

        </template>
    </turbo-stream>
{% endblock %}

{% block remove %}
    <turbo-stream action="remove" target="auction{{ id }}"></turbo-stream>
{% endblock %}