{% extends 'base.html.twig' %}

{% block title %}Auctio Controller!{% endblock %}



{% block body %}

    {{ form(form) }}


    {% if searchResult is not empty %}
        <h2>Search Results:</h2>
        <table class="table">
            <thead>
            <tr>
                <!-- Header de votre tableau pour les résultats -->
            </tr>
            </thead>
            <tbody>
            {% for result in searchResult %}
                <tr>
                    <!-- Affichez les données de chaque résultat -->
                    <td>{{ result.title }}</td>
                    <td>{{ result.description }}</td>
                    <!-- Autres colonnes de données du résultat -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No search results available.</p>
    {% endif %}

    <h1>Enchere en ligne</h1>
    {{ "hello"|trans }}
    <h2>description</h2>

    <div id="auctions" {{ turbo_stream_listen('App\\Entity\\Auction') }}>
        <p id="au">description<p/>
                <table class="table">
                    <thead>
                    <tr>


                        <th>{{ "name"|trans  }}</th>
                        <th>description</th>
                        <th>prix</th>
                        <th>date</th>
                        <th>image</th>
                        <th>status</th>
                        <th>actions</th>

                    </tr>
                    </thead>
                    <tbody id="table">

                    {% for auction in auctions %}
                          {%  include "auction/auction.html.twig" with {'auction' : auction} %}

                    {% endfor %}
                    </tbody>
                </table>

                <form>
                        <a href="{{ path('test2') }}" data-turbo-stream="true" class="btn btn-success btn-lg">Redirection</a>
                </form>

    </div>


{% endblock %}
